.edit-window {
   border: solid 2px black;
   background-color: white;
   width: 250px;
   padding: 10px;
   display: block;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -170px; /* Negative half of height. */
   margin-left: calc(-250px / 2); /* Negative half of width. */

   &-header {
      & h2 {
         margin: 0;
      }
   }
   &-form-group {
      padding: 5px;
      & button {
         margin: 5px;
      }
   }
}
